<!DOCTYPE html>
<html>
<head>
  <title>Psp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 style="color:black;font-family:'Arial',sans-serif;font-size:64px;text-align:center;">PURPLE SWEATER PROGRAMMING</h1>
<hr style="border:none;height:2px;width:100%;color:black;background-color:black;" />

<%= yield %>

</body>
</html>
